
/* MidnightJabber Logo Color:
Hex: #4a7dbc
RGB: (74,125,188)
*/


body{
	height: 100%;
	width: 100%;
	z-index: 500;
}

#header{
	position: fixed;
	background-color: #4a7dbc;
	height: 120px;
	width: 100%;
	top: 0px;
	left: 0px;
	border-bottom: 2px solid black;
	z-index: 1000;

}

#MoviesNowPlaying{

}


#MoviesNowPlaying li{

	padding: 0px;
	float: left;
	width: 200px;
	height: auto;
	/* For No bullet points*/
	list-style: none;
}
#MoviesNowPlaying img{

	padding: 0px;
	float: left;
	width: 200px;
	height: auto;

}

#header li{
	margin-top: 60px;
	float: left;
	padding-right: 20px;
	padding-left: 20px;	

	/* Text Details */
	font-size: 26px;
	text-align: center;
	color: white;


	/* For No bullet points*/
	list-style: none;

}

#myCarousel{
	margin-top: 120px;
	position: absolute relative;
}

.carousel img{
	min-width: 100%;
  	max-width: none;
  
}